.icon-link{
    font-size: 40px;
    color: grey;
}
.icon-link-spotify:hover{
    color: rgb(21, 185, 21);
}
.icon-link-instagram:hover{
    color: rgb(255, 42, 152);
}
.icon-link-youtube:hover{
    color: rgb(231, 18, 18);
}
.texg{
    color: antiquewhite;
    font-size: 60px;
}
.texm{
    color: rgb(242, 242, 242);
    font-size: 30px;
    text-align: justify;
}
.logo {
    height: auto;
  }